<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body style="text-align: center; font-family:Arial; font-size:20px;">
 <h1>Odano Godfrey</h1>
 <p>My name is Odano Godfrey and I describe myself as a deligent, easy going , hardwork
     and a honest young man, who beleives only the best is good enough.I am intrested in Web Development as it allows me to understand how the Web works and also 
	 it allows me to create many online applications, for example: webpages, games, etc.</p>
</body>
</html>